


.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}


.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.left{
  padding-left: 168px;
    background-color: yellow;
    height: 400px;
    margin-left: right;
 width: 410px;
 border-radius: 100%;
}

.right {
  padding-left: 168px;
    background-color: Aqua;
    margin-left: 50%;
    height: 400px;
 width: 400px;
 border-radius: 100%;
  }
